<div class="head">
  <div class="container">
              <div class="row">
                  <div class="col-md-6" id="col">
                    <mat-card>
                      <mat-toolbar>Password Assistance</mat-toolbar>
                              <form>
                                <p>For password recovery enter email</p>
                                  <div class="form-group"><label class="text-muted" for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"></div>

                                 <button type="submit" class="btn btn-dark">Reset Password</button>
                              </form>
                    </mat-card>
                  </div>
              </div>
          </div>
          </div>

