.head{
  background-image: url("../../assets/pexels-photo-683402.jpeg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.head {
  padding: 5rem
}
#col{
  margin-left: 1%;
}


.card {
  background: #fff;
  border-width: 0;
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
  margin-bottom: 1.5rem;
}
.mat-card{
  width: 100%;
  margin-top: 20%;
}

.card-header {

  border-color: rgba(160, 175, 185, .15);
  background-clip: padding-box
}

.mat-toolbar{
  background-color: #343a40;
  color: white;
  display:block;
}

